.edge-path {
  /* This defines the stroke style and sets it up for animation */
  stroke: #aaa;
  stroke-width: 2;
  fill: none;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw-path 5s ease forwards; /* animation when showing the path */
  transition: all 1s ease-in; /* transition when same path moving */
}

@keyframes draw-path {
  to {
    stroke-dashoffset: 0;
  }
}

.node-group {
  transition: transform 1s ease-in;
}

.tree-node {
  opacity: 0;
  animation: show-node 1.5s ease-in forwards;
  transition: all 1.5s ease; /* transition when same path moving */
}

@keyframes show-node {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 (fully visible) */
  }
}

.node-text {
  fill: #333;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  pointer-events: none;
  transition: all 1.5s ease; /* transition when same path moving */
}
